<!-- Copy this file to "env.props" -->
<Project>
    <!-- You can use either set $(PluginFolder) directly or use these properties to point to a mod manager's folder -->

    <!-- Mod Path -->
    <PropertyGroup>
        <Profile><!-- Name of the profile in the mod manager --></Profile>

        <ModManagerFolder><!-- Path of the mod manager --></ModManagerFolder>
        <ProfilesFolder>$(ModManagerFolder)HollowKnightSilksong/profiles/</ProfilesFolder>
        <PluginsFolder>$(ProfilesFolder)$(Profile)/BepInEx/plugins/</PluginsFolder>
        <PluginFolder>$(PluginsFolder)$(Authors)-$(AssemblyTitle)/</PluginFolder>
    </PropertyGroup>
</Project>
