name: 'Publish Package'

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x

      - name: Restore Dependencies
        shell: bash
        run: dotnet restore

      - name: Restore Tools
        shell: bash
        run: dotnet tool restore

      - name: Get Properties
        id: get-properties
        shell: bash
        run: |
          get-dotnet-property() {
            local CSPROJ="./WhatchaGotThere.csproj"
          
            for propertyName in "$@"
            do
              local VALUE=$(dotnet msbuild "$CSPROJ" --getProperty:"$propertyName")
          
              if [ -n "$VALUE" ]; then
                  echo "$VALUE"
                  return 0
              fi
            done
          
            echo ""
          }
          
          echo "NAME=$(get-dotnet-property 'Product')" >> $GITHUB_OUTPUT
          echo "TEAM=$(get-dotnet-property 'Authors')" >> $GITHUB_OUTPUT
          echo "DESCRIPTION=$(get-dotnet-property 'Description')" >> $GITHUB_OUTPUT
          echo "WEBSITE=$(get-dotnet-property 'PackageProjectUrl' 'RepositoryUrl')" >> $GITHUB_OUTPUT

      - uses: WarperSan/upload-thunderstore-package@v0.1.1-beta
        with:
          community: 'riskofrain2'
          team: ${{ steps.get-properties.outputs.TEAM }}
          categories: |
            mods
            client-side
            tweaks
            items
          name: ${{ steps.get-properties.outputs.NAME }}
          description: ${{ steps.get-properties.outputs.DESCRIPTION }}
          version: ${{ github.ref_name }}
          website: ${{ steps.get-properties.outputs.WEBSITE }}
          files: |
            ./bin/Debug/netstandard2.1/WhatchaGotThere.dll
          token: ${{ secrets.TCLI_AUTH_TOKEN }}
          package-files: |
            ./icon.png
            ./README.md
            ./LICENSE